body {
    background-color: rgb(228, 220, 220);
    h1{
        color: rgb(8, 8, 192);
        font-size:500px;
            }
    p{font-size:200px;}
    color: rgb(192, 8, 8);
    text-align: center;
    font-family: Arial, sans-serif;
    padding-top: 200px;
}
